<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>ToDo App</title>
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<meta name="author" content="fatma.hassan@gmail.com" />
<meta name="description" content="FTM" />


<link rel="stylesheet" href="/stylesheets/touching.css" type="text/css" />
</head>
<body>
 <!-- Generated at www.csscreator.com -->
<div id="container">
	<div id="banner">
		<div id='bannertitle'>ToDo App</div>
	</div>

	<div id="outer">
 		<div id="inner">
 			<div id="left">
  <div class="verticalmenu">
   <ul>
     <li><a href="#">Home</a></li>
     <li><a href="#">About Us</a></li>
     <li><a href="#">Tasks</a></li>
   </ul>
 </div> 

   		</div>
   		<div id="content"><h2>ToDo App</h2>
<p>All current to do items.
</p>	
			
<table width="400" border="1">
    <tr>
        <th>No.
        </th>
        <th>Name
        </th>
        <th>Description
        </th>
		<th>Delete
        </th>
    </tr>
	<% for task in @tasks -%>
    <tr>
        <td><%= task.id %>
        </td>
        <a href="/todo/edit/<%= task.id %>"><td><%= task.name %>
        </td></a>
        <td><%= task.description %>
        </td>
		<td>
			<a href="/todo/delete/<%= task.id %>"><button type="button">Delete</button></a>
        </td>
    </tr>
	<% end %>
</table>
<br /><br />
<div align="bottom" ><a href="/todo/add">Add new item</a></div>

			
		</div><!-- end content -->
		</div><!-- end inner -->
	</div><!-- end outer -->
 	<div id="footer"><h1><a href="http://freethoughts.ftmblog.com">copyrights&copy;FTM</a></h1></div>
</div><!-- end container -->
</body></html>